.Record {
    margin: 20px;
}
.recordGroup {
    display: flex;
}
.groupPrimary {
    width: 50%;
    margin-right: 20px;
}
.row {
    margin-bottom: 20px;
}
.needsReview {
    background-color: yellow;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.buttons {
    display: flex;
}
.button {
    border: none;
    margin: 0;
    background-color: inherit;
}
.active {
    text-decoration: underline;
}
.recordConfirmChanges {
    display: flex;
    width: 100%;
}
.recordMerged {
    background: green;
}
.recordOriginal1 {
    background: yellow;
}
.recordOriginal2 {
    background: yellow;
}