/* B
==================== */
.btnMergeUndo {
    border: none;
    border-radius: 10px;
    font-size: inherit;
    margin: 0;
    background-color: #22ddfd;
    padding: 10px;
  }
/* N
==================== */
.review {
    background-color: yellow;
    display: flex;
    flex-direction: column;
    padding: 0;
}
.reviewButtons {
    display: flex;
    background-color: #fff;
}
.reviewButton {
    border: none;
    margin: 0;
    background-color: #fff;
    padding: 10px;
    outline: none;
}
.reviewButton.active {
    background-color: yellow;
    text-decoration: underline;
}
.reviewContent {
    padding: 10px;
}