* {
  box-sizing: content-box;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
li {
  padding: 0;
  margin-bottom: 10px;
}
h1 {
  margin: 0 0 10px;
  font-size: 24px;
}
h2 {
  margin: 0 0 10px;
  font-size: 18px;
}
h3 {
  margin: 0 0 5px;
  font-size: 16px;
}
/* R
==================== */
.records {
  display: flex;
}